# Build outputs
bin/
obj/
publish/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio / VS Code
.vscode/
.vs/
*.db
*.db-shm
*.db-wal

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# NuGet
packages/
*.nupkg
*.snupkg

# Test results
TestResults/
